@import "reset.css";

body, html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "ArialBold";
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #EB5A21;
}

.all {
  display: grid;
  grid-template-columns: 20% 5% 70% 5%;
}

/* _______________ */

.menu_grid {
  position: fixed;
  top: 3vh;
  margin-left: 3vh;
  display: inline-block;

}

.home {
  display: flex;
  font-size: 3vh;
  font-family: "ArialBold";
  text-transform: uppercase;
}

.e {
  font-family: "Firstdog";
  margin-top: 0.2vh;
}

/* _______________ */

.menu {
  text-align: left;
  margin-top: 3vh;
}

/* _______________ */

.one {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.start {
  margin-top: 3vh;
}


.one_text {
  font-size: 15vh;
  text-transform: uppercase;
  font-family: "ArialBold";
  display: flex;
}

.e2 {
  font-family: "Firstdog";
  margin-top: 1.2vh;
}

.one_text2 {
  font-size: 5vh;
  margin-top: 2vh;
  text-transform: uppercase;
}

/* _______________ */

.two {
  grid-column: 3 / 4;
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
}

.first_zagolovok {
  font-size: 5vh;
  margin-top: 3vh;
}

.second_zagolovok {
  font-size: 4vh;
}

.block {
  margin-top: 10vh;
}

.text {
  margin-top: 4vh;
  font-size: 3vh;
  font-family: "ArialRegular";
}

/* _______________ */

.three {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200vh;
}

.logo_idea {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: 13.7% 10% 17.5% 10% 17.5% 10% 19.5%;
}

.idea_logo {
  grid-column: 1 / 8;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 10vh;
}

.logo_idea2 {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 17.5% 6% 17.5% 10% 20.5% 8% 20.5%;
}

.logo_idea3 {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 20.7% 3% 20.5% 7% 21.2% 7% 19.8%;
}

.one_logo {
  grid-column: 1 / 2;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.two_logo {
  grid-column: 3 / 4;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.three_logo {
  grid-column: 5 / 6;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.four_logo {
  grid-column: 7 / 8;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}



/* _______________ */

.four {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 130vh;
}

.left_right_logo {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: 40% 10% 50%;
}

.left_logo {
  grid-column: 1 / 2;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.right_logo {
  grid-column: 3 / 4;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.all_logo {
  grid-column: 1 / 4;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-top: 4vh;
}

/* _______________ */

.five {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* _______________ */

.six {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* _______________ */

.seven {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350vh;
}

.my_font_arial_and_firstdog_text_arial,
.my_font_arial_and_firstdog_text_firstdog {
  font-size: 2vh;
  font-family: "ArialRegular";
  text-align: center;
}

.my_font_arial_and_firstdog_text_arial {
  grid-column: 1 / 2;
}

.my_font_arial_and_firstdog_text_firstdog {
  grid-column: 3 / 4;
}

.my_font_arial_and_firstdog {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 100%;
}

.arial_why_font,
.firstdog_why_font {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.my_font_t_arial_and_firstdog {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 45% 10% 45%;
}

.arial_t_why_font {
  grid-column: 1 / 2;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-top: 3vh;
}

.firstdog_t_why_font {
  grid-column: 3 / 4;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-top: 3vh;
}



.text_firstdog {
  margin-top: 4vh;
  font-size: 5vh;
  text-transform: uppercase;
  font-family: "Firstdog";
}

.my_font1 {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.my_font2 {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 22% 0% 22% 8% 22% 4% 22%;
  margin-top: -18%;
}

.my_font3 {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
  margin-top: -23%;
}

.one_letter,
.two_letter,
.three_letter,
.four_letter {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.two_ahah_letter {
  position: relative;
  max-height: 100%;
  max-width: 109%;
}

.two_ahaha_letter {
  position: relative;
  max-height: 100%;
  max-width: 117%;
}

.one_letter {
  grid-column: 1 / 2;
}

.two_letter {
  grid-column: 3 / 4;
}

.two_ahah_letter {
  grid-column: 3 / 4;
}

.two_ahaha_letter {
  grid-column: 3 / 4;
}

.three_letter {
  grid-column: 5 / 6;
}

.four_letter {
  grid-column: 7 / 8;
}




.one_letter_opacity,
.two_letter_opacity,
.three_letter_opacity,
.four_letter_opacity {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  top: -100%;
  z-index: -1;
}

.two_ahah_letter_opacity {
  position: relative;
  max-height: 100%;
  max-width: 109%;
  top: -100%;
  z-index: -1;
}

.two_ahaha_letter_opacity {
  position: relative;
  max-height: 100%;
  max-width: 117%;
  top: -100%;
  z-index: -1;
}

.one_letter_opacity {
  grid-column: 1 / 2;
}

.two_letter_opacity {
  grid-column: 3 / 4;
}

.two_ahah_letter_opacity {
  grid-column: 3 / 4;
}

.two_ahaha_letter_opacity {
  grid-column: 3 / 4;
}

.three_letter_opacity {
  grid-column: 5 / 6;
}

.four_letter_opacity {
  grid-column: 7 / 8;
}


/*
.one_letter:hover img.one_letter_opacity,
.two_letter:hover img.two_letter_opacity,
.three_letter:hover img.three_letter_opacity,
.four_letter:hover img.four_letter_opacity,
.two_ahah_letter:hover img.two_ahah_letter_opacity,
.two_ahaha_letter:hover img.two_ahah_letter_opacity{
display: block;
z-index: 1;
} */

.one_letter:hover,
.two_letter:hover,
.three_letter:hover,
.four_letter:hover,
.two_ahah_letter:hover,
.two_ahaha_letter:hover {
  display: none;
}




/* _______________ */

.eight {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 130vh;
}

/* _______________ */

.nine {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* _______________ */

.ten {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* _______________ */

.eleven {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.idea_text {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 45% 10% 45%;
}

.text2  {
  margin-top: 4vh;
  font-size: 3vh;
  font-family: "ArialRegular";
  grid-column: 3 / 4;
}

.cveta_gamma {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
}

.one_cveta_gamma,
.two_cveta_gamma,
.three_cveta_gamma,
.four_cveta_gamma,
.five_cveta_gamma,
.six_cveta_gamma {
  height: 30vh;
  width: 19vh;
  margin-left: auto;
  margin-right: auto;
}

.one_cveta_gamma {
  grid-column: 1 / 2;
  background: #F5EAD8;
}

.two_cveta_gamma {
  grid-column: 3 / 4;
  background: #F7B6A9;
}

.three_cveta_gamma {
  grid-column: 5 / 6;
  background: #F7C05B;
}

.four_cveta_gamma {
  grid-column: 7 / 8;
  background: #789BB9;
}

.five_cveta_gamma {
  grid-column: 9 / 10;
  background: #EB5A21;
}

.six_cveta_gamma {
  grid-column: 11 / 12;
  background: #000000;
}



.text_gamma {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
}

.one_text_gamma,
.two_text_gamma,
.three_text_gamma,
.four_text_gamma,
.five_text_gamma,
.six_text_gamma {
  font-size: 2vh;
  font-family: "ArialRegular";
  text-align: center;
}

.two_text_gamma {
  grid-column: 3 / 4;
}

.three_text_gamma {
  grid-column: 5 / 6;
}

.four_text_gamma {
  grid-column: 7 / 8;
}

.five_text_gamma {
  grid-column: 9 / 10;
}

.six_text_gamma {
  grid-column: 11 / 12;
}


/* _______________ */

.twelve {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 160vh;
}

.text_in_graphica {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.text_in_graphica2 {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.text_in_graphica_one,
.text_in_graphica_two,
.text_in_graphica_three,
.text_in_graphica_four {
  font-size: 2vh;
  font-family: "ArialRegular";
  text-align: center;
}

.text_in_graphica_one {
  grid-column: 1 / 2;
}

.text_in_graphica_two {
  grid-column: 3 / 4;
}

.text_in_graphica_three {
  grid-column: 5 / 6;
}

.text_in_graphica_four {
  grid-column: 7 / 8;
}

.vector_in_graphica {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.one_vector,
.two_vector,
.three_vector,
.four_vector {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.two_ahah_vector {
  position: relative;
  max-height: 100%;
  max-width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.three_ahah_vector {
  position: relative;
  max-height: 100%;
  max-width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.one_vector {
  grid-column: 1 / 2;
}

.two_vector {
  grid-column: 3 / 4;
}

.two_ahah_vector {
  grid-column: 3 / 4;
}

.three_vector {
  grid-column: 5 / 6;
}

.three_ahah_vector {
  grid-column: 5 / 6;
}

.four_vector {
  grid-column: 7 / 8;
}

.photo_in_graphica {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.one_photo,
.two_photo,
.three_photo,
.four_photo {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.one_photo {
  grid-column: 1 / 2;
}

.two_photo {
  grid-column: 3 / 4;
}

.three_photo {
  grid-column: 5 / 6;
}

.four_photo {
  grid-column: 7 / 8;
}


/* _______________ */

.thirty {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 430vh;
}

.inst {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 30% 10% 30% 10% 20%;
}

.nositeli2 {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.nositeli3 {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 40% 10% 40%;
}

.nositeli4 {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 30% 3% 15% 3% 30% 3% 15%;
}

.inst1,
.inst2,
.kruzka,
.futbolka1,
.futbolka2,
.futbolka3,
.doc1,
.doc2,
.story1,
.story2 {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.inst2 {
  grid-column: 3 / 4;
}

.inst_code,
.qr1,
.qr2  {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.inst_code {
  margin-top: 4vh;
  grid-column: 5 / 6;
  margin-top: auto;
}

.kruzka {
  margin-top: 10vh;
  grid-column: 1 / 6;
}

.futbolka1 {
  margin-top: 10vh;
  grid-column: 1 / 2;
}

.futbolka2 {
  margin-top: 10vh;
  grid-column: 3 / 4;
}

.futbolka3 {
  margin-top: 10vh;
  grid-column: 5 / 6;
}

.doc1 {
  margin-top: 10vh;
  grid-column: 1 / 2;
}

.doc2 {
  margin-top: 10vh;
  grid-column: 3 / 4;
}

.story1 {
  margin-top: 10vh;
  grid-column: 1 / 2;
}

.story2 {
  margin-top: 10vh;
  grid-column: 5 / 6;
}

.qr1 {
  margin-top: auto;
  grid-column: 3 / 4;
}

.qr2 {
  margin-top: auto;
  grid-column: 7 / 8;
}

/* _______________ */

.fourty {
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280vh;
}

.photo_rabota {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.photo_rabota_one,
.photo_rabota_two,
.photo_rabota_three {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.photo_rabota_one {
  grid-column: 1 / 2;
}

.photo_rabota_two {
  grid-column: 3 / 4;
}

.photo_rabota_three {
  grid-column: 5 / 6;
}


/* = */

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Firstdog";
  src: url("../fonts/Firstdog.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
